# Networking
github "Alamofire/Alamofire" "5.0.0-rc.3"
github "onevcat/Kingfisher" ~> 5.0

# UI
github "SnapKit/SnapKit" ~> 5.0.0
github "ra1028/Carbon" ~> 1.0.0-rc.6
github "ra1028/DifferenceKit" "1.1.3"
github "uias/Pageboy" ~> 3.2

# Utilities
github "google/promises" ~> 1.2.8
github "kishikawakatsumi/KeychainAccess"
github "marmelroy/Localize-Swift"

# Analytics
github "yandexmobile/metrica-sdk-ios" ~> 3.7.0
